body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button{
    background-color: black;
    border: transparent;
    font-size: 30px;
    color:white;
} */